name: Release

on: 
  push:
    tags: 
      - "v*"

jobs: 
  build-and-release:
    runs-on: self-hosted

    steps: 
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore
        run: dotnet restore

      - name: Publish Linux
        run: dotnet publish -c Release -r linux-x64 --self-contained true -o publish/linux

      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v4
        with:
          path: publish/linux

      - name: Publish Windows
        run: dotnet publish -c Release -r win-x64 --self-contained true -o publish/win

      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v4
        with:
          path: publish/win

      
        
