name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build

  publish-nuget:
    needs: build
    runs-on: self-hosted

    steps:
      - name: Push to nuget
        run: dotnet nuget push nupkg/*.nupkg -k ${{ secrets.GITHUB_TOKEN }} -s "https://nuget.pkg.github.com/virabshetkar/index.json"

  release:
    needs: publish-nuget
    runs-on: self-hosted
    steps:
      - name: Create Release
        uses: softprops/action-gh-release@v2
