name: Release

on: 
  push:
    tags: 
      - "v*"

jobs: 
  build-and-release:
    runs-on: self-hosted

    steps: 
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore
        run: dotnet restore

      - name: Publish Linux
        run: dotnet publish -c Release -r linux-x64 --self-contained true -o publish/linux

      - name: Publish Windows
        run: dotnet publish -c Release -r win-x64 --self-contained true -o publish/win

      - name: Zip publish/linux
        run: zip -r linux.zip publish/linux/

      - name: Zip publish/win
        run: zip -r win.zip publish/win/
          
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            linux.zip
            win.zip
